@charset "utf-8";

@font-face {
  font-family: 'minhafonte';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format(truetype);
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'minhafonte', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  max-width: 350px;
  width: 90%;
}

img {
  border-radius: 50%;
  width: 110x;
  height: 110px;
  object-fit: cover;

}

h1 {
  font-weight: 700; 
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

p {
  color: white;
  margin: 1.5rem 0;
  font-size: 0.9rem;
}

a {
  display: block;
  background-color: hsl(0, 0%, 20%);
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}